@import "colors";

.contact-top-page-background {
  background: url("./../images/contact-home-img-edited.jpg");
  background-position: center;
  width: 100%;
  height: -webkit-fill-available;
  opacity: 0.9;
  background-color: transparent;
  background-size: cover;
  //position: fixed;
  background-attachment: fixed;
}

.contact-info-wrapper {
  padding: 20px;
}

.contact-info-title-wrapper {
  text-align: center;
}

.contact-info-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-actual-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-info-email {
  display: flex;
  flex-direction: row;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #b3b3b3;
  }
}

.contact-info-instagram {
  display: flex;
  flex-direction: row;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #b3b3b3;
  }
}

.contact-info-other-information {
  text-align: center;
}

.specific-contact-wrapper {
  padding: 20px;
}

.specific-contact-info {
  display: flex;
  flex-direction: row;
}

.project-column-wrapper {
  padding: 20px;
}