@import "colors";

.top-page-background {
  background-position: center;
  width: 100%;
  height: -webkit-fill-available;
  opacity: 0.9;
  background-color: transparent;
  background-size: cover;
  //position: fixed;
  background-attachment: fixed;
}

.contact-info-wrapper {
  padding: 20px;
}

.contact-info-title-wrapper {
  text-align: center;
  color: $DarkGrey;
  font-weight: 700;
  font-family: adobe-garamond-pro, serif;

  .contact-info-title {
    font-size: 24px;
    letter-spacing: 2px;

  }

  .contact-info-subtitle {
    color: $MediumGrey;
    font-size: 18px;
  }
}

.contact-info-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-actual-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-info-email {
  display: flex;
  flex-direction: row;
  font-family: adobe-garamond-pro, serif;
  font-size: 18px;
  
  h4 {
    color: $DarkGrey;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #b3b3b3;
    margin: 0 10px;
  }
}

.contact-info-instagram {
  display: flex;
  flex-direction: row;
  font-family: adobe-garamond-pro, serif;
  font-size: 18px;

  h4 {
    color: $DarkGrey;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #b3b3b3;
    margin: 0 10px;
  }
}

.contact-info-other-information {
  text-align: center;
  color: $MediumGrey;
  font-family: adobe-garamond-pro, serif;
  font-size: 18px;
  line-height: 25px;
}

.specific-contact-wrapper {
  padding: 20px 10px;
}

.specific-contact-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project-column-wrapper {
  padding: 30px;
}

.person-contact-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //line-height: 40px;

  a {
    text-decoration: none;
    color: #636363;
  }
}

.project-lead-title {
  text-align: center;
  font-family: proxima-nova;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.57px;
  color: $DarkGrey;
  text-transform: uppercase;
}

.person-text {
  color: $MediumGrey;
  font-size: 20px;
  font-family: adobe-garamond-pro, serif;
  font-weight: 400;
  letter-spacing: normal;
}

.person-contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a {
    margin: 15px 0;
  }
}