@import "colors";

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: $white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.FlexColCenter {
  display: flex;
  align-items: center;
}

.FlexRowCenter {
  display: flex;
  justify-content: center;
}

.FlexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.AlignTextCenter {
  text-align: center;
}

.JustSomePadding {
  padding: 10px;
}

.LargerText {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 10px 0 0 0;
}

.LargeText {
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
  font-family: adobe-garamond-pro;
}

.SmallText {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  font-family: adobe-garamond-pro;
}

.Button {
  height: 30px;
  width: 180px;
  background-color: $white;
  transition: background-color 0.2s;
  border: 3px solid $white;
  border-radius: 300px;
  text-decoration: none;
  color: $black;
  font-size: 1.4rem;
  padding: 20px;

  &:hover {
    cursor: pointer;
    background-color: rgb(49, 49, 49);
    color: $white;
  }
}

.AlignLeft {
  margin-right: auto;
}

.AlignRight {
  margin-left: auto;
}

.ImageButton {
  width: 120px;
  height: 20px;
  font-size: 1rem;
}

.QuickLinkImage {
  width: 600px;
  height: auto;
}

.ImageTitle {
  text-transform: uppercase;
  font-family: proxima-nova;
  letter-spacing: 0.15em;
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
}

.ImageBody {
  font-family: adobe-garamond-pro;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.1em;
  line-height: 30px;
}

.main-page-wrapper {
  height: auto;
  width: auto;
  overflow: hidden;
}

.header-wrapper {
  display: block;
}

.header-content {
  padding: 30px 30px 0;
  justify-content: space-between;
  align-items: flex-start;
}

.header-logo {
  display: block;
}

.logo-wrapper {
  display: inline-block;
}

#actual-logo-image {
  width: 100%;
  max-width: 190px;
}

.header-nav {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.header-nav-item {
  text-decoration: none;
  margin: 0px 15px;
  color: $white2;
}

.header-nav-item:hover {
  color: $white;
}

.navigation-wrapper {
  display: inline-flex;
  margin-top: 30px;
}

.top-page-wrapper {
  background: url("./../images/streamline-home-image.jpg");
  background-size: cover;
  background-position: center;
  width: auto;
  height: auto;
  opacity: 0.9;
  background-color: transparent;
}

.vision-wrapper {
  padding: 90px 50px;
}

.vision-content-text {
  color: $white;
  text-align: center;
}

.button-wrapper {
  padding: 40px 0;
}

.seperator-block {
  padding: 15px 0;
}

.main-body-wrapper {
  padding: 90px 50px;
}

.inner-text-block {
  text-align: center;
  padding: 20px;
}

.bottom-inner-text-block {
  width: 60%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6em;
  color: #676565;
}

.home-link-content {
  padding: 10px 50px;
}

.single-image-wrapper {
  position: relative;
  width: fit-content;
}

.image-text-block {
  position: absolute;
  top: 10%;
  width: 80%;
  text-align: center;
  color: $white;
}

.alche-logo-banner {
  width: 650px;
}

.alche-text-wrapper {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.alche-text {
  color: #676565;
  font-family: adobe-garamond-pro;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  margin-top: 0;
}

.Footer {
  background-color: #292828;
}

.inner-footer {
  padding: 100px 50px;
}

.my-shameless-promo {
  color: $white2;
  font-family: adobe-garamond-pro;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  margin-top: 0;
}