@import "colors";

@media(max-width: 719px) {

  .main-body-wrapper {
    padding: 90px 20px;
  }
  .header-nav-content {
    display: none !important;
  }

  #actual-logo-image {
    width: 50% !important;
  }

  .header-wrapper {
    background-color: $white;
  }

  .LargerText {
    font-size: 2.1rem;
    font-weight: 400;
  }

  .home-top-page-background {
    height: -webkit-fill-available !important;
  }

  .home-link-content-wrapper {
    padding: 10px 10px;
  }

  .QuickLinkImage {
    width: 100%;
    height: 350px;
  }

  .ImageTitle {
    font-size: 24px;
  }

  .ImageBody {
    font-size: 18px;
  }

  .button-wrapper {
    padding: 20px 0px 0px 0px;
  }

  .alche-logo-banner {
    width: 100%;
  }


  /** Project Page SCSS */
  
  #streamline-vision {
    height: 610px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .LargeMobileText {
    font-family: adobe-garamond-pro, serif;
    font-size: 40px;
  }

  .body-element-content {
    display: flex;
    flex-direction: column;
  }

  .image-wrapper {
    padding: 10px !important;
  }

  .MobileInnerTextTitle {
    font-size: 20px !important;
    font-weight: 600;
    letter-spacing: 0.57px;
    font-style: normal;
    color: $DarkGrey;
    font-family: proxima-nova;
    padding: 10px;
  }

  .MobileInnerSubTextTitle {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: normal;
    font-style: normal;
    font-family: adobe-garamond-pro, serif;
    line-height: 40px;
  }

  /** Progress Page */

  .main-events-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .top-inner-text-block {
    line-height: 35px;
  }

  /** Partners Pagr */

  .partners-content {
    padding: 20px 10px !important;
  }

  .partners-content-row {
    flex-direction: column !important;
    padding: 40px 10px !important;
  }

  .partners-image {
    width: 100% !important;
  }

  .partners-info-wrapper {
    padding: 5px !important;
  }

  .partner-sig {
    text-align: left !important;
    color: $DarkGrey !important;
  }

  /** Photos Page */

  .slideshow-row-wrapper {
    padding: 20px 10px !important;
  }

  .slideshow-row-content {
    flex-direction: column !important;
    align-items: center;
  }

  .slideshow-title-wrapper {
    width: 100% !important;
  }

  .main-slider-wrapper {
    padding: 20px 10px !important;
  }

  .w-100 {
    height: 400px !important;
  }

  /** Contact Page */

  .specific-contact-info {
    flex-direction: column !important;
  }

  .contact-actual-info-wrapper {
    align-items: end !important;
  }

  .contact-info-other-information {
    text-align: left !important;
  }

  /** Support Page */

  .support-page-text {
    flex-direction: column !important;
    align-items: center;
  }

  .block-wrapper {
    width: 100% !important;
  }

  /** Footer */

  .promo-content {
    width: 70% !important;
  }
}