@import "colors";

@media(max-width: 719px) {

  .main-body-wrapper {
    padding: 90px 20px;
  }
  .header-nav-content {
    display: none !important;
  }

  #actual-logo-image {
    width: 50% !important;
  }

  .header-wrapper {
    background-color: $white;
  }

  .LargerText {
    font-size: 2.1rem;
    font-weight: 400;
  }

  .home-top-page-background {
    height: -webkit-fill-available !important;
  }

  .home-link-content-wrapper {
    padding: 10px 10px;
  }

  .QuickLinkImage {
    width: 100%;
    height: 350px;
  }

  .ImageTitle {
    font-size: 24px;
  }

  .ImageBody {
    font-size: 18px;
  }

  .button-wrapper {
    padding: 20px 0px 0px 0px;
  }

  .alche-logo-banner {
    width: 100%;
  }


  /** Project Page SCSS */
  
  #streamline-vision {
    height: 610px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .LargeMobileText {
    font-family: adobe-garamond-pro, serif;
    font-size: 40px;
  }

  .body-element-content {
    display: flex;
    flex-direction: column;
  }

  .image-wrapper {
    padding: 10px !important;
  }

  .MobileInnerTextTitle {
    font-size: 20px !important;
    font-weight: 600;
    letter-spacing: 0.57px;
    font-style: normal;
    color: $DarkGrey;
    font-family: proxima-nova;
    padding: 10px;
  }

  .MobileInnerSubTextTitle {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: normal;
    font-style: normal;
    font-family: adobe-garamond-pro, serif;
    line-height: 40px;
  }
}