@import "colors";

.partners-top-page-background {
  background: url("./../images/partners-home-image-effects.jpg");
  background-position: center;
  width: 100%;
  height: -webkit-fill-available;
  opacity: 0.9;
  background-color: transparent;
  background-size: cover;
  //position: fixed;
  background-attachment: fixed;
}

.body-title-wrapper {
  padding: 20px;
}

.body-title {
  text-align: center;
  color: $DarkGrey;
  font-family: adobe-garamond-pro, serif;
  font-size: 16px;
  font-weight: 400;
}

.partners-title.wrapper {
  padding: 20px;
}

.partners-title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
  color: $DarkGrey;
  font-family: adobe-garamond-pro, serif;
  letter-spacing: 2px;
}

.partners-content {
  padding: 20px 40px;
}

.partners-content-column {
  display: flex;
  flex-direction: column;
}

.partners-content-row {
  display: flex;
  flex-direction: row;
  padding: 40px 20px;
}

.partners-image-wrapper {
  padding: 20px;
}

.partners-info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.partners-info-content {
  width: 60%;
  margin: 0 auto;
  line-height: 30px;
}

.partners-image {
  width: 400px;
  height: auto;
}

.partner-sig {
  text-align: center;
}