@import "colors";

.top-page-background {
  background-position: center;
  width: 100%;
  height: -webkit-fill-available;
  opacity: 0.9;
  background-color: transparent;
  background-size: cover;
  //position: fixed;
  background-attachment: fixed;
}

.bottom-inner-text-block {
  text-align: center !important;
}

.progress-body-image {
  height: 400px;
  width: 100%;
}

.events-header {
  font-size: 2.2em;
  text-align: center;
  font-weight: 600;
}

.main-events-content {
  padding: 20px;
}