@import "colors";

.project-top-page-background {
  background: url("./../images/project-home-image.jpg");
  background-position: center;
  width: 100%;
  height: -webkit-fill-available;
  opacity: 0.9;
  background-color: transparent;
  background-size: cover;
  //position: fixed;
  background-attachment: fixed;
}


.bottom-inner-text-block {
  width: auto !important;
  line-height: 2em !important;
  text-align: left !important;
}

.left-text-wrapper {
  width: 100%;
  float: left;
  padding: 20px;
}

.project-body-image {
  width: 100%;
}

.left-text-title {
  font-family: proxima-nova !important;
  color: #424242;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.57px;
}

.left-text-body {
  line-height: 28.8px;
  color: #676565;
  font-family: adobe-garamond-pro;
}
