@import "colors";

.support-top-page-background {
  background: url("./../images/support-home-edited.jpg");
  background-position: center;
  width: 100%;
  height: -webkit-fill-available;
  opacity: 0.9;
  background-color: transparent;
  background-size: cover;
  //position: fixed;
  background-attachment: fixed;
}

.support-body-title-wrapper {
  padding: 20px;
}

.support-body-title {
  font-family: adobe-garamond-pro, serif;
  font-size: 18px;
  color: $DarkGrey;
  font-weight: 400;
  text-align: center;
}